div.content > div.container-fluid > h2 {
	margin: 5px;
}

div.content {
	padding: 5px;
}

.bbground {

	background-image: url("../img/slide-05.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center; 
	background-size: cover;

}